.list-item {
    background-color: lightgray;
    margin-top: 15px;

}

.thumb-nail {
    margin-right: 20px;
    margin-top: 15x;
    margin-bottom: 15px;
    float: left;
    max-width: 200px;
    border: 5px solid hsla(0, 0%, 0%, 0.784);
}

.top {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
}

.header-div {
    font-size: x-large;
    text-align: right;
}

.header-title {
    font-size: xx-large;
    text-align: left;
}

.header-rating {
    margin-top: 10px;
    float: right;
}

.recipe-info {
    text-align: justify;
    font-size: medium;
}

.footer {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
}