@import './base.css';

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#app {
  font-weight: normal;
  background-color: white;
}

.full-page-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'header header header header header'
    'menu main main main main'
    'footer footer footer footer footer';
  align-content: flex-start;
  overflow-x: hidden;
}

.recipe-page-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  align-content: flex-start;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

ul {
  list-style-type: none;
}

.header {
  grid-area: header;
  margin-bottom: 25px;
  color: black;
  font-size: 36px;
}

.italy {
  max-width: 70px;
}

.header-text {
  font-size: 28px;
  color: black;
}
  
p {
  color: black;
}

.main {
  grid-area: main;
  max-width: 800px;
}

.main-recipe {
  grid-area: main;
  max-width: 1280px;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width : 575.98px) and (orientation: portrait) {
  .full-page-layout {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'menu menu menu menu menu'
      'main main main main main'
      'footer footer footer footer footer';
    align-content: flex-start;
  }
  
  .recipe-page-layout {
    display: grid;
    grid-template-areas:
      'header header header'
      'main main main'
      'footer footer footer';
    align-content: flex-start;
  }
}