.menu {
  grid-area: menu;
  background-color: #c8d6e0ad;
  margin-right: 20px;
  text-align: left;
  border-radius: 5px;
}

.menu-header {
  text-align: left;
  color: black;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.menu-links {
  font-size: medium;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
  color: black;
  font-weight: bold;
  transition: 80ms;
}

.router-link-active {
  font-weight: bold;
}