#recipe {
    color: black;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

#recipe-top-layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        'header header header'
        'description description image';
    align-content: flex-start;
    gap: 0;
    overflow-x: hidden;
    max-width: 1000px;
    height: auto;
}

#recipe-middle-layout {
    display: grid;
    grid-template-areas:
        'ing-header ins-header ins-header'
        'ingredient instruction instruction';
    grid-template-columns: repeat(3, 1fr);
    align-content: flex-start;
    gap: 0;
    overflow-x: hidden;
    max-width: 1000px;
}

.header {
    grid-area: header;
}

.recipe-image {
    grid-area: image;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15x;
    margin-bottom: 15px;
    float: right;
    max-width: 333px;
    border: 5px solid hsla(0, 0%, 0%, 0.784);
}

.description {
    grid-area: description;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    font-size: large;
    text-align: justify;
}

.info-bar {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: lightgray;
    font-size: x-large;
}

.ing-header {
    margin-left: 10px;
    margin-bottom: 20px;
}

.ingredient {
    grid-area: ingredient;
    background-color: lightgray;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: large;
}

li {
    text-align: left;
}

h2 {
    text-align: left;
}

.ins-header {
    margin-left: 10px;
    margin-bottom: 20px;
}

.instruction {
    grid-area: instruction;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
}

.instruction-item {
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 10px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}